<div class="sidebar gradient-custom-2" data-image="../assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:;" class="simple-text">
          ADMIN
        </a>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-user-alt"></i>
                    <p>Quản lí tài khoản</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="fas fa-exchange-alt"></i>
                    <p>Quản lí giao dịch</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="fas fa-undo"></i>
                    <p>Đổi mật khẩu</p>
                </a>
            </li>
            <li class="nav-item active active-pro">
                <button class="nav-link active" href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Log out</p>
                </button>
            </li>
        </ul>
    </div>
</div>