<div class="sidebar gradient-custom-2" data-image="../assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:;" class="simple-text">
          ADMIN
        </a>
        </div>
        <ul class="nav">
            <li class="nav-item">


                <div class="dropdown">
                <a class="nav-link dropdown-toggle"  href="#"
                role="button"
                id="dropdownMenuLink"
                data-mdb-toggle="dropdown"
                aria-expanded="false">
                    <i class="fas fa-user-alt"></i>
                    <p>Quản lí tài khoản</p>
                </a>
            
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">TÀI KHOẢN CHỜ KÍCH HOẠT</a></li>
                    <li><a class="dropdown-item" href="#">TÀI KHOẢN ĐÃ KÍCH HOẠT</a></li>
                    <li><a class="dropdown-item" href="#">TÀI KHOẢN ĐANG KHÓA</a></li>
                  </ul>


            </div>



            </li>
            <li>
                <a class="nav-link" href="#">
                    <i class="fas fa-exchange-alt"></i>
                    <p>Quản lí giao dịch</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/admin/changePasswordadmin">
                    <i class="fas fa-undo"></i>
                    <p>Đổi mật khẩu</p>
                </a>
            </li>
            <li class="nav-item active active-pro">
                <a class="nav-link active" href="/user/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Log out</p>
                </a>
            </li>
        </ul>
    </div>
</div>