<div class="sidebar gradient-custom-2" data-image="../assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:;" class="simple-text">
                <%= fullname %>
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-home"></i>
                    <p>Trang chủ</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/profile">
                    <i class="far fa-id-card"></i>
                    <p>Hồ sơ</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/addMoney">
                    <i class="fas fa-wallet"></i>
                    <p>Nạp tiền vào tài khoản</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/withdrawMoney">
                    <i class="far fa-credit-card"></i>
                    <p>Rút tiền</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/transferMoney">
                    <i class="fab fa-cc-amazon-pay"></i>
                    <p>Chuyển tiền</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/buyCard">
                    <i class="fas fa-shopping-cart"></i>
                    <p>Mua thẻ điện thoại</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/history">
                    <i class="fas fa-history"></i>
                    <p>Lịch sử giao dịch</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/changepassword">
                    <i class="fas fa-undo"></i>
                    <p>Đổi mật khẩu</p>
                </a>
            </li>
            <li class="nav-item active active-pro">
                <a class="nav-link active" href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Log out</p>
                </a>
            </li>
        </ul>
    </div>
</div>