<%- include('./layouts/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./layouts/nav-user.ejs') %>
                <div class="main-panel">
                <p>hoá đơn</p>



                </div>
        </div>
        <script src="/Js/main.js"></script>
        <script>
            createAutoClosingAlert(".alert-danger", 2000);
        </script>
    </body>

    </html>