<%- include('./layouts/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./layouts/nav-user.ejs') %>
                <div class="main-panel">
                    <h1>Chuyển tiền</h1>
                </div>
        </div>
    </body>

    </html>