<%- include('./layouts/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./layouts/nav-user.ejs') %>
                <div class="main-panel">
                    <h1>Trang chủ</h1>
                    <h3>số tiền</h3>
                    <h3>trạng thái tài khoản</h3>
                </div>
        </div>
    </body>

    </html>