.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.gradient-custom-2 {
    /* fallback for old browsers */
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


.card-body{
    height: 1100px;
}
.contain-box{
    background-color: #344a72;
    font-family: 'Roboto', sans-serif;
}
.sign-upbox{
    width: 360px;
    height: 620px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 3px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
h5{
    text-align: center;
}
.regisform{
    width: 300px;
    margin-left: 20px;
}
.regisform-label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
.regisform-input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
.regisform-button{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    background-color: #49c1a2;
    color: white;
    font-size: 15px;
}
.regisform-button-logout{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    background-color: #ea4a5d;
    color: white;
    font-size: 15px;
}
.loginform{
    background-color: #dceef8;
}